@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

/* ------------------- */

/* Reset styles     */

/* ------------------- */

/* Set core root defaults */
:root {
    --white: hsl(0deg 0% 100%);
    --light-grayish-violet: hsl(270deg 3% 87%);
    --dark-grayish-violet: hsl(279deg 6% 55%);
    --very-dark-violet: hsl(278deg 68% 11%);
    --error: hsl(0deg 100% 66%);
    --input-gradient: hsl(249deg 99% 64%), hsl(278deg 94% 30%);
    --desktop: 1440px;

    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* for iOS Safari */
    text-size-adjust: 100%; /* for other mobile browsers */
}

html {
    font-family: "Space Grotesk", system-ui, -apple-system, "Segoe UI", Roboto,
        Ubuntu, Cantarell, "Noto Sans", sans-serif;
    background-color: var(--light-grayish-blue);
    color: var(--very-dark-grayish-blue);
    font-weight: 500;
    font-size: 14px;
    color-scheme: light dark;
}

@media screen and (min-width: 640px) {
    html {
        font-size: 18px;
    }
}

html,
body {
    overflow-x: hidden;
}

html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizespeed;
    overflow-y: auto;
    position: relative;
    background-color: var(--white);
}

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: inherit;
    margin: 0;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove the outline for mouse users but keep it for keyboard users */
:focus:not(:focus-visible) {
    outline: none;
}

/* provide interactive elements with a cursor */
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
    cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--very-dark-violet);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-grayish-violet);
    border-radius: 100px;
}

/* ------------------------- */

/*          layout           */

/* ------------------------- */
.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(33%, 33vh) 1fr;
    width: 100%;
    min-height: 100vh;
}

@media screen and (min-width: 1280px) {
    .wrapper {
        grid-template-columns: minmax(33%, 33vh) 1fr;
        grid-template-rows: minmax(0, 1fr);
    }
}

.grid {
    display: grid;
}

.container {
    width: 100%;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.form-aside {
    display: grid;
    place-items: center;
    background-image: url("./images/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (min-width: 1280px) {
    .form-aside {
        background-image: url("./images/bg-main-desktop.png");
    }
}

.card-preview {
    display: grid;
    align-self: end;
    grid-template-areas:
        "back"
        "front";
    /* aspect-ratio: 42/23; */
    place-items: center;
    height: 50%;
    width: 100%;
    max-width: min(500px, calc(100vw - 2rem));
    position: relative;
}

@media screen and (min-width: 1280px) {
    .card-preview {
        grid-template-areas:
            "front"
            "back";
        height: min(50vh, 600px);
        width: 100%;
        gap: 2rem;
        justify-self: end;
        align-self: center;
    }
}

.card-front,
.card-back {
    position: absolute;
    width: min-content;
}

.card-front {
    --card-padding: 0.5rem;
    grid-area: front;
    top: -90%;
    z-index: 100;
    left: 0;
    color: var(--white);
}

@media screen and (min-width: 375px) {
    .card-front {
        --card-padding: 1.5rem;
    }
}

.card-back {
    grid-area: back;
    z-index: 50;
    top: -160%;
    right: 0;
    color: var(--very-dark-violet);
}

@media screen and (min-width: 1280px) {
    .card-front {
        inset: revert;
        bottom: 0;
        left: 30%;
    }

    .card-back {
        inset: revert;
        top: 0%;
        left: 55%;
    }
}

.card-front-bg,
.card-back-bg {
    max-width: 80vw;
    max-block-size: 25vh;
    /* max-width: revert;
    height: fit-content; */
}

.card-front > *:not(.card-front-bg) {
    position: absolute;
}

.card-back > *:not(.card-back-bg) {
    position: absolute;
}

.card-front-number {
    bottom: 30%;
    max-width: 100%;
    max-height: 1.5em;
    overflow: hidden;
    font-size: 110%;
    letter-spacing: 0.05rem;
    left: var(--card-padding);
}

@media screen and (min-width: 480px) {
    .card-front-number {
        font-size: 120%;
        letter-spacing: 0.1rem;
    }
}

@media screen and (min-width: 640px) {
    .card-front-number {
        font-size: 150%;
        letter-spacing: 0.2rem;
    }
}

.card-front-cardholder {
    bottom: var(--card-padding);
    left: var(--card-padding);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    max-width: 80%;
    max-height: 1.5em;
    overflow: hidden;
}

@media screen and (min-width: 640px) {
    .card-front-cardholder {
        letter-spacing: 0.1rem;
    }
}

.card-front-date {
    right: var(--card-padding);
    bottom: var(--card-padding);
    max-width: 20%;
    max-height: 1.5em;
    overflow: hidden;
    text-transform: uppercase;
}

.card-front-logo {
    top: var(--card-padding);
    left: var(--card-padding);
    max-width: 20%;
}

.card-back-cvc {
    right: 3.5rem;
    top: 44%;
}

.form-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    padding-top: min(4rem, 10vh);
}

@media screen and (min-width: 1280px) {
    .form-wrapper {
        padding-left: min(10rem, 20vw);
        padding-top: 0;
    }
}

.form-card {
    --form-padding: 2rem;
    --form-label-font-size: 80%;
    /* outline: 1px solid green; */
    padding-inline: var(--form-padding);
    padding-top: var(--form-padding);
    padding-bottom: var(--form-padding);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(50rem, 100%);
}

@media screen and (min-width: 1280px) {
    .form-card {
        width: min(50rem, 33vw);
    }
}

.form-input-wrap {
    background: linear-gradient(217deg, var(--input-gradient));
    position: relative;
    height: 2em;
    border-radius: 0.55rem;
    background-size: 800% 800%;
    animation: input-border 5s ease-in-out infinite;
}

@keyframes input-border {
    0%,
    100% {
        background-position: top left;
    }
    50% {
        background-position: bottom right;
    }
}

.form-input-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: end;
    gap: 2rem;
    width: 100%;
}

.form-date-fieldset {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: 1rem;
    margin: 0;
    padding: 0;

    min-inline-size: min-content;
    border: none;
}
.form-date-fieldset > legend {
    text-transform: uppercase;
    color: var(--light-grayish-blue);
    padding-bottom: 0.45em;
    font-size: var(--form-label-font-size);
}

.form-date-fieldset:focus-within > legend,
.form-date-fieldset:valid > legend {
    color: var(--very-dark-violet);
}

.form-card input[type="text"] {
    position: absolute;
    inset: 0;
    height: 2em;
    width: 100%;
    background-color: var(--white);
    border-color: var(--light-grayish-violet);
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    padding-inline: 1em;
    z-index: 100;
}

.form-card input[type="text"]:focus {
    border-color: transparent;
    /* background-color: transparent; */
    outline: transparent;
    margin: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

.form-card input[type="text"] + label {
    position: absolute;
    top: 0.75em;
    left: 1em;
    transition: all 500ms ease-in-out;
    text-transform: uppercase;
    color: var(--light-grayish-violet);
    pointer-events: none;
    font-size: var(--form-label-font-size);
    z-index: 200;
}

.form-card input[type="text"]:focus + label,
.form-card input[type="text"]:valid + label {
    display: inline;
    left: 0;
    transform: translateY(-2.25em);

    color: var(--very-dark-violet);
}

.form-card input[type="text"]::placeholder {
    text-transform: uppercase;
    color: var(--light-grayish-violet);
    pointer-events: none;
    font-size: var(--form-label-font-size);
}
